{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "biography.html" . }}

{{ partial "introduction.html" . }}

{{ partial "experience.html" . }}

<!--{{ partial "service.html" . }}-->

<!--{{ partial "skill.html" . }}-->

{{ partial "portfolio.html" . }}

<!--{{ partial "funfacts.html" . }}-->

{{ partial "blog.html" . }}

<!--{{ partial "team.html" . }}-->

<!--{{ partial "pricing.html" . }}-->

<!--{{ partial "testimonial.html" . }}-->

{{ partial "showtime.html" . }}

{{ partial "contact.html" . }}

<!--{{ partial "map.html" . }}-->

{{ end }}